CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

build/
build_win/
build_linux/
out/

vcpkg_installed
.vcpkg
.vscode
FluidR3_GM.sf2
