CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

logs/
build/
build_win/
build_linux/
out/

vcpkg_installed
.vcpkg
FluidR3_GM.sf2
Timbres_of_Heaven.sf2

NoteNaga.app/
NoteNaga_autogen/
